.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App__main {
  width: 90%;
  margin: 0 auto;
  max-width: 800px;
  /* padding: 2%; */
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  flex-grow: 1;
}

.App__heading {
  text-transform: uppercase;
  margin: 0;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
}

.App__header {
  border-bottom: 1px solid #ccc;
  padding: 2%;
  text-align: center;
}

.App__footer {
  border-top: 1px solid #ccc;
  padding: 1% 0;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.App__emptyMessage {
  text-align: center;
  padding-top: 10%;
}

.App__meta {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #ccc;
}
